.loginScreen{
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}

.loginScreen__background{
  position: relative;
  width: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
  center 
  no-repeat;
  background-size: cover;
  z-index: 1;
}

/* Required in order to make the background image appear*/
/* The background property creates an overlay that has a gradient effect on top of the background image */
.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%
  )
}
.loginScreen__navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 100%;
}

.loginScreen__button{
  height: 40px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 60px;
}

.loginScreen__logo {
  left: 0;
  width: 180px;
  object-fit: contain;
  padding-left: 20px;
  margin-left: 20px;
}

.loginScreen__body{
  /* Specifying the position and top will make the body be on top of the background image*/
  position: absolute; 
  top: 30%;
  /* Next three lines make the texts align to the center*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: white;
  padding: 10px;
  left: 0; 
  right: 0;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3{
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__input{
  margin: 20px;
}

.loginScreen__input > form > input{
  padding: 10px;
  outline-width: 0; /* removes the blue outline of the input field */
  height: 30px;
  width: 30%; /* makes it responsive */
  border: none;
  max-width: 1200px; /* ensures that it does not get too big */
}

.loginScreen__getStarted {
  padding: 15.8px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.loginScreen__items{
  color: white;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -999;
}

.loginScreen__itemA{
  display: grid;
  grid-template-areas: 'col2 col2 col1 col1';
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 1200px;
}

.loginScreen__itemB{
  display: grid;
  grid-template-areas: 'col1 col1 col2 col2';
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 1200px;
}

.loginScreen__itemC{
  display: grid;
  grid-template-areas: 'col2 col2 col1 col1';
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 1200px;
}

.item--description{
  display: flex;
  flex-direction: column;
  padding: 10px;
  grid-area: col1;
  text-align: left;
  width: 600px;
}

.item--description>h1{
  margin-bottom: 20px;
  font-size: 50px;
}

.item--description>p{
  font-size: 25px;
}

.item--img{
  object-fit: contain;
  width: 600px;
  grid-area: col2;
}

.greySpan-top{
  background-color: #222222;
  opacity: 0.7;
  height: 7px;
  display: block;
  width: 100%;
  padding: 0 20px;
}

.greySpan{
  background-color: #222222;
  opacity: 0.7;
  height: 7px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 20px;
}

.get__started{
  width: 100%;
  margin-top: 60px;
}

.get__started > p{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.lognScreen__input__2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginScreen__input_2 > form > input{
  padding: 10px 10px 7px 10px;
  outline-width: 0; /* removes the blue outline of the input field */
  height: 45px;
  width: 40%; /* makes it responsive */
  border: none;
  max-width: 500px; /* ensures that it does not get too big */
}

.get__started{
  text-align: center;
  color: white;
}

.loginScreen__getStarted_2 {
  padding: 19.8px 35px;
  font-size: 1.2rem;
  color: white;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}

.loginScreen__getStarted_2:hover{
  filter:brightness(110%);
}

/* Desktop size*/
@media only screen and (min-width: 1500px){

  .loginScreen__logo{
    width: 300px;
    margin-top: 100px;
  }

  .loginScreen__button{
    width: 250px;
    height: 80px;
    font-size: 30px;
    margin-top: 100px;
  }

  .loginScreen__body > h1 {
    font-size: 6rem;
    margin-bottom: 20px;
  }

  .loginScreen__body > h2 {
    font-size: 5rem;
    margin-bottom: 20px;
  }

  .loginScreen__body > h3 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .loginScreen__input{
    width: 3000px;
    text-align: center;
  }

  .loginScreen__input > form {
    position: absolute;
    width: 2000px;
    margin-left: 300px;
  }

  .loginScreen__input > form > input{
    margin-left: 0;
    height: 50px;
  }

  .loginScreen__getStarted{
    height: 69px;
  }

  .loginScreen__itemA{
    width: 2000px;
  }

  .loginScreen__itemB{
    width: 2000px;
  }

  .loginScreen__itemB{
    width: 2000px;
  }

  .item--description{
    width: 800px;
    margin-left: 120px;
  }

  .item--description > h1{
    font-size: 4.5rem;
  }

  .item--description > p{
    font-size: 2rem;
  }

  .item--img{
    width: 900px;
    padding: 40px;
  }

  .get__started{
    height: 200px;
  }

  .get__started>p{
    font-size: 40px;
  }

  .loginScreen__input_2{
    width: 3000px;
    text-align: center;
  }

  .loginScreen__input_2 > form {
    position: absolute;
    width: 2000px;
    margin-left: 300px;
  }

  .loginScreen__input_2 > form > input{
    margin-left: 0;
    height: 50px;
  }
  .loginScreen__getStarted_2{
    height: 69px;
  }
  
}
