.SignupScreen__background{
  position: relative;
  width: 100%;
  height: 800px;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
  center 
  no-repeat;
  background-size: cover;
  z-index: 1;
}

.SignupScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%
  )
}

.SignupScreen__navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 100%;
}

.SignupScreen__logo {
  left: 0;
  width: 160px;
  object-fit: cuptain;
  padding-left: 20px;
  margin-left: 20px;
}
.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,0,0,0.85);
  color: white;
  margin-top: 80px;
}

.signupScreen > form {
  display: grid;
  flex-direction: column;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}


.signupScreen > form > input{
  outline-width: 0; 
  height: 40px;
  border: none;
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 5px 15px; 
  background-color: #303030;
  color: white;
}

.signupScreen > form > button{
  padding: 16px 20px; 
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen > form > h4{
  text-align: left;
  margin-top: 30px;
}

.signupScreen__gray {
  color: gray;
}

.signupScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}