.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0,0,0,0.85);
  color: white;
  margin-top: 80px;
}

.signupScreen > form {
  display: grid;
  flex-direction: column;
}

.signupScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}


.signupScreen > form > input{
  outline-width: 0; 
  height: 40px;
  border: none;
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 5px 15px; 
  background-color: #303030;
  color: white;
}

.signupScreen > form > button{
  padding: 16px 20px; 
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen > form > h4{
  text-align: left;
  margin-top: 30px;
}

.signupScreen__gray {
  color: gray;
}

.signupScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (min-width: 1500px) {

  .signupScreen {
    max-width: 550px;
    padding: 70px;
    margin-top: 200px;
  }

  .signupScreen > form > h1 {
    font-size: 60px;
  }
  
  
  .signupScreen > form > input{
    height: 70px;
  }

  .signupScreen > form > input[type="text"] {
    font-size: 25px;
  }

  .signupScreen > form > input[type="Email"] {
    font-size: 25px;
  }
  .signupScreen > form > input[type="Password"] {
    font-size: 25px;
  }

  .signupScreen > form > input::placeholder {
    font-size: 25px;
  }
  
  .signupScreen > form > button{
    font-size: 2rem;
  }
  
  .signupScreen > form > h4{
    font-size: 30px;
  }
}