.accordion__container{
  max-width: 750px;
  width: 100%;
  height: 100%;  
  margin: 20px auto;
}

.accordion__container > h1{
  margin-bottom: 40px;
  font-size: 40px;
}

.question--container{
  margin-bottom: 8px;
}

.accordion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  background-color: #303030;
  border: none;
  outline: none;
  max-height: 100px;
  margin-bottom: 3px;
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  padding: 25px;
  cursor: pointer;
}

.accordion > p{
  font-size: 40px;
}

.panel{
  width: 100%;
  background-color: #303030;
}

.panel > p{ 
  font-weight: normal;
  font-size: 21px;
  text-align: left;
  padding: 25px;
  white-space: pre-line; /* creates the newline break --> need to have \n in the AccordionData.js */
}